rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    function isLoggedIn() {
      return request.auth != null;
    }
    
    function isOwner(userId) {
      return isLoggedIn() && request.auth.uid == userId;
    }

    match /users/{userId} {
      allow read: if isLoggedIn();
      allow create: if isLoggedIn();
      allow update: if isOwner(userId);
    }
    
    match /otps/{userId} {
      allow read, write: if isOwner(userId);
    }
  }
}